extends layout

block content
  h1 Register
  form(action="/register", method="POST")
    div.row
      label Email
      input(name="email" type="email", required, placehoder="please input your email")
    div.row
      label Score 
      input(name="score" type="number", required, placehoder="please input your Number")
    div.row.button
      input(type="submit", name="Submit", value="Sbumit")

  hr
  - each data in datas
    div.list  
      p 
      = data.email + " | " + data.score